.containerStyles{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: large;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

        div{
            min-height: max-content;
            margin-top: 20px;
            img{
                max-height: 280px;
                width: auto
            }
        }
}    